<div id="library-display-options" class="display-options no-pad">
    <ul>
      <li>
        <%= link_to request.url, request.params.merge(display_assets: 'display_assets_as_list') do %>
          <i class="fa fa-align-justify"></i>
          <span>List</span>
        <% end %>
      </li>
      <li>
        <a class="grid <%= (params['display_assets'].eql?('display_assets_as_grid') || params['display_assets'].nil?) ? 'active' : '' %>" href="?display_assets=display_assets_as_grid">
          <i class="fa fa-th-large"></i>
          <span>Grid</span>
        </a>        
      </li>
    </ul>
</div>